name: Container Build and Deployment

on:
  push:
    branches: [ main ]

env:
  AWS_REGION: us-west-2
  ECR_REPO: kevin-container-app
  CLUSTER_NAME: my-cluster

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to ECR
      run: |
        IMAGE_URI="600627331586.dkr.ecr.us-east-2.amazonaws.com/kevin-container-app:latest"
        docker build -t $IMAGE_URI .
        docker push $IMAGE_URI

    # - name: Update kubeconfig
    #   run: aws eks update-kubeconfig --region $AWS_REGION --name $CLUSTER_NAME

    # - name: Deploy to EKS
    #   run: |
    #     IMAGE_URI="600627331586.dkr.ecr.us-east-2.amazonaws.com/kevin-container-app:latest"
    #     sed -i "s|image:.*|image: $IMAGE_URI|g" deployment.yaml
    #     kubectl apply -f deployment.yaml
    #     kubectl apply -f service.yaml
